<section class="thirteen columns">
<h1><a href="{{ site.baseurl }}static/cv/resume-khoi-nguyen-tran-20180130.pdf">PDF version of resume</a></h1>
</section>

<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Post Doctoral Researcher</h1>
            <span><address>IBM Research, Melbourne, Australia</address><time>2016 to Present</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Data Scientist</h1>
            <span><address>Australian Government, Melbourne, Australia</address><time>2015 to 2016</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Co-founder and Research Assistant</h1>
            <span>ANU Cybercrime Observatory, <address>Australian National University, Canberra, Australia</address><time>2013 to 2015</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span>Research School of Computer Science, <address>Australian National University, Canberra, Australia</address><time>2008 to 2012</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Research Assistant</h1>
            <span>Research School of Computer Science, <address>Australian National University, Canberra, Australia</address><time>2011</time></span>
        </header>
        <p></p>
    </article>
</section>
